<h1>Editing forum_thread</h1>

<% form_for(@forum_thread) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @forum_thread %> |
<%= link_to 'Back', forum_threads_path %>
